.dark-mode {
  background-color: #333;
  color: #fff;
}

.light-mode {
  background-color: #fff;
  color: #333;
}

.paragraph  {
  margin: 0;
  height: 100vh; 
}


.light-mode-for-mobile {
  background-color: #fff;
  color: #333;
  margin: 0;
  height: 100vh; 

}

.clickboard-container.dark-mode  {
  background-color: #333; 
}

.clickboard-container.light-mode {
  
  background-color: white; 
}

.toggleBtn {
  margin-top: 10px;
  padding: 10px;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .toggleBtn {
    display: none;
  }
}